flows.json
[{"id":"e7e7dd6c.14ee2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb4d7063.0e414","type":"http request","z":"e7e7dd6c.14ee2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/357d2d02-e3af-4631-a32f-981e8907b1b3/deployments/e9b95329-e5ef-45af-924e-eae4292ea2fd/online","tls":"","proxy":"","x":750,"y":260,"wires":[["84d49399.4f9d9","a2a400dc.cfaa"]]},{"id":"27d031fe.c850be","type":"function","z":"e7e7dd6c.14ee2","name":"prediction","func":"var token=msg.payload.token;\nvar Alcohol=global.get(\"Alcohol\");\nvar BMI=global.get(\"BMI\");\nvar Polio=global.get(\"Polio\");\nvar Diphtheria=global.get(\"Diphtheria\");\nvar HIVAIDS=global.get(\"HIVAIDS\");\nvar GDP=global.get(\"GDP\");\nmsg.payload={\"fields\":[\"Alcohol\",\"BMI\",\"Polio\",\"Diphtheria\",\"HIVAIDS\",\"GDP\"],\"values\":[[Alcohol,BMI,Polio,Diphtheria,HIVAIDS,GDP]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["eb4d7063.0e414","a2a400dc.cfaa"]]},{"id":"a2a400dc.cfaa","type":"debug","z":"e7e7dd6c.14ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":140,"wires":[]},{"id":"8d042811.53b318","type":"http request","z":"e7e7dd6c.14ee2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com","tls":"","proxy":"","x":490,"y":40,"wires":[["27d031fe.c850be","17c5de82.22fc51"]]},{"id":"9b328969.8a3a18","type":"inject","z":"e7e7dd6c.14ee2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.24999713897705,"y":78.75,"wires":[["d38c078b.a1cf88"]]},{"id":"d38c078b.a1cf88","type":"function","z":"e7e7dd6c.14ee2","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4a9a87e1-9e72-485d-974f-6eebd1a102f0\"\nvar password=\"09c99802-f137-4cfa-b761-532d338cb9b0\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria)\nglobal.set(\"HIVAIDS\",msg.payload.HIVAIDS)\nglobal.set(\"GDP\",msg.payload.GDP)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":20,"wires":[["8d042811.53b318"]]},{"id":"84d49399.4f9d9","type":"function","z":"e7e7dd6c.14ee2","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["a7d4d02b.7256b"]]},{"id":"17c5de82.22fc51","type":"debug","z":"e7e7dd6c.14ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":20,"wires":[]},{"id":"4f3d889b.9afa18","type":"ui_form","z":"e7e7dd6c.14ee2","name":"","label":"","group":"e6add237.99b4b","order":0,"width":0,"height":0,"options":[{"label":"Alcohol","value":"Alcohol","type":"number","required":true},{"label":"BMI","value":"BMI","type":"number","required":true},{"label":"Polio","value":"Polio","type":"number","required":true},{"label":"Diphtheria","value":"Diphtheria","type":"number","required":true},{"label":"HIVAIDS","value":"HIVAIDS","type":"number","required":true},{"label":"GDP","value":"GDP","type":"number","required":true}],"formValue":{"Alcohol":"","BMI":"","Polio":"","Diphtheria":"","HIVAIDS":"","GDP":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":82,"y":234,"wires":[["d38c078b.a1cf88","506d46fb.896658","1caf8818.553ee8","1a3981cf.29603e","849a95b.e206468","40e33c0e.13abc4","57f448b9.89c518"]]},{"id":"a7d4d02b.7256b","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":160,"wires":[]},{"id":"506d46fb.896658","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":7,"width":0,"height":0,"name":"","label":"HIVAIDS","format":"{{msg.payload.HIVAIDS}}","layout":"row-spread","x":232,"y":358,"wires":[]},{"id":"849a95b.e206468","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":8,"width":0,"height":0,"name":"","label":"GDP","format":"{{msg.payload.GDP}}","layout":"row-spread","x":236,"y":441,"wires":[]},{"id":"1a3981cf.29603e","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":3,"width":0,"height":0,"name":"","label":"Alcohol","format":"{{msg.payload.Alcohol}}","layout":"row-spread","x":361,"y":232,"wires":[]},{"id":"57f448b9.89c518","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":4,"width":0,"height":0,"name":"","label":"BMI","format":"{{msg.payload.BMI}}","layout":"row-spread","x":414,"y":287,"wires":[]},{"id":"40e33c0e.13abc4","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":6,"width":0,"height":0,"name":"","label":"Diphtheria","format":"{{msg.payload.Diphtheria}}","layout":"row-spread","x":409,"y":397,"wires":[]},{"id":"1caf8818.553ee8","type":"ui_text","z":"e7e7dd6c.14ee2","group":"e6add237.99b4b","order":5,"width":0,"height":0,"name":"","label":"Polio","format":"{{msg.payload.Polio}}","layout":"row-spread","x":434,"y":343,"wires":[]},{"id":"e6add237.99b4b","type":"ui_group","z":"e7e7dd6c.14ee2","name":"Prediction","tab":"b1b2a3f6.9fddd","disp":true,"width":"6","collapse":false},{"id":"b1b2a3f6.9fddd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]